In [ ]:
<H1>Data Science Tools and Ecosystem</H1>

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
Objectives:
<ol>Some of the popular languages that Data Scientists use are:</ol>
1.python
2.java
3.R

In [ ]:
<ol>Some of the commonly used libraries used by Data Scientists include:</ol>
-Pandas
-TensorFlow
-Scikit-learn

In [ ]:
|Data Science Tools|
|:.................|
|   Apache Spark   |
|     IBM SPSS     |
|      Julia       |

In [ ]:
<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [ ]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

In [ ]:
hours, minutes = divmod(330, 60)
# This will convert 200 minutes to hours by diving by 60

In [ ]:
<H2>Author:salmah</H2>